.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
blueteeth-sample.iml
blueteeth.iml
.idea/caches
test-peripheral/nodejs/node_modules
test-peripheral/nodejs/dist
